body {
  font-family: 'Noto Sans JP', sans-serif;
}

h1, h2 {
  font-family: Lato;
}

.top-box {
  border: 1px solid;
  border-color: rgba(0, 0, 0, .15);
  border-radius: 10px;
  height: 8em;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-left: 2em;
}

.bottom-box{
  border: 1px solid;
  border-color: rgba(0, 0, 0, .15);
  border-radius: 10px;
  height: 16em;
}

ul {
  list-style-type: none;
}

ul li {
  padding: 0.5em;
}

input[type=text] {
  padding: 0;
  height: 30px;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .15);
  border-radius:0.12em;
  background-color: white;
  font-size: 18px;
}

button {
  display:inline-block;
  padding: 0.35em 1.2em;
  height: 32px;
  border: 1px solid #cdcdcd;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#000000;
  text-align:center;
  transition: all 0.2s;
}

button:hover{
  color:#000000;
  background-color:#FFFFFF;
  cursor: pointer
}